/* General Page Background */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("bg1.jpg");
}

/* Header Styling */
h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
h2 {
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
/* Text Container Styling */
.text-container {
    border: 5px solid purple;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Centered Video Container */
.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

iframe {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Timer Container */
#container_timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100px;
    width: 100%;
}

.flip-card {
    position: relative;
    width: 60px;
    height: 100px;
    margin: 0 10px;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-flip, .bottom-flip {
    width: 100%;
    height: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.top-flip {
    border-bottom: 1px solid #333;
}

.bottom-flip {
    border-top: 1px solid #333;
}

/* Container for boxes */
.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 440px;
    margin: 0 auto;
}

.box {
    width: 150px;
    height: 150px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }

.table-container {
    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the table container */
    padding: 20px; /* Optional: adds some padding around the table */
    border-radius: 8px; /* Optional: adds rounded corners */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}

table th, table td {
    border: 1px solid black;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background for table cells */
}

table th {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly darker for header */
    color: black;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
